<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Board</title>
</head>
<body>

    <p>Welcome {{user.first_name}}!</p>

    <h1>Recent Book Reviews:</h1>
    
    {% for myreview in lastreviews %}
    <br><br><br>
    <div>
        <a href="#">{{myreview.thebook.title}}</a>
        <br>
        <p>Rating: 
                {% for star in range %}
                    {% if myreview.rating > star %}
                        &#9733;
                    {% else %}
                        &#9734;
                    {% endif %}
                {% endfor %}
        </p>
        <p>{{myreview.reviewer.first_name}} says:</p>
        <p>{{myreview.text}} </p>
    </div>
    {% endfor %}
    
    
        

    
    
    <h1>Other Book Reviews:</h1>
    
    
    <a href="/logout">Logout<a>



</body>
</html>